.infobox  {
    width: 98%;
    max-width: 98vw;
}

.infboxCont {
    width: 100%;
    max-width: 98vw;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accountinfo {
    max-width: 100%;
    overflow-wrap: break-word;
}
