.listmems {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "mltit  mltit mlexp mlexp"
        "memse  memse msfl  msfl"
        "mmml   mmml  mmml  mmml";
}

.mltit {
    grid-area: mltit;
    align-self: center;
    justify-self: end;
}

.mlexp {
    grid-area: mlexp;
    align-self: center;
}

.memse {
    grid-area: memse;
    align-self: center;
    justify-self: end;
}

.msfl {
    grid-area: msfl;
    align-self: center;
    justify-self: start;
}

.mInList {
    margin-top: .5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "mname  mname mname mname";
}

.mname {
    grid-area: mname;
    align-self: center;
    justify-self: center;
}

.mmml {
    grid-area: mmml;
    margin-top: .5rem;
}