.RegList {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:  1.5rem  2rem;
    align-items: center;
}

.RegUser {
    display: inline;
    justify-self: end;
    text-align: right;
  }

.RegUserAct {
    display: inline;
}

.LconList {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.liveconf {
    display: grid;
    gap: 1rem;
    margin-bottom: 4rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        "nam   nam   nam   nam"
        "call  call  call  call"
        "conf  conf  conf  conf"
        "mlist mlist mlist mlist";
}

.mlist {
    grid-area: mlist;
}

.ctr {
    align-self: center;
    padding-left: .25rem;
    padding-right: .25rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.namec {
    grid-area: nam;
    justify-self: center;
    text-align: center;
    font-size: 1.5rem;
}

.callc {
    grid-area: call;
    justify-self: center;
    text-align: center;
}

.confsh {
    grid-area: conf;
    justify-self: center;
}

.smalltit {
    font-size: 1rem;
}