

.usersmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.searchbox {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:  1rem;
    align-items: center;
}

.addbox {
    width: 100%;
}

.opttag {
    justify-self: end;
}

.filtersep {
    width: 100%;
}

.nodisp {
    display: none;
}

.smallsymb {
    font-family: 'MaterialIcons', fantasy;
}

.usermenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.greyed {
    color: rgba(0, 0, 0, 0.3);
}

.reclist {
    margin-top: 1rem;
}

.reclistitm {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "nam   nam   nam   nam   nam"
    ".     .     del   .     .";
}

.recnam {
    grid-area: nam;
    align-self: center;
    justify-self: center;
    text-align: center;
}

.recdel {
    grid-area: del;
    align-self: center;
    justify-self: end;
    text-align: end;
}
