.headcontainer {
  display: flex;
  flex-direction: column;
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    font-size: calc(1rem + 2vmin);
    color: white;
  }

.meuBtn {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.meuTitle{
  flex: 1;
  display: flex;
  justify-content: center;
}

.phoneBtn{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
  