.Phone {
  width: 100%;
  z-index: -1;
  position: absolute;
  background-color:  rgba(211, 211, 211,.9);
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PhoneHidden {
  display: none;
}

.PhoneButtonsHidden {
  display: none;
}

.PhoneMediaVid {
  width: 100%;
  object-fit:  cover;
  flex: 1;
  overflow: hidden;
}

.PhoneMediaVidHidden {
  display: none;
}

.PhoneMediaAud {
  max-width: 100%;
  max-height: 100%;
}

.PhoneButtons {
  position: absolute;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
