.usrclose {
    align-self: flex-end;
}

.unhead {
    font-size: 1.5rem;
}

.expusract {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0rem 2rem;
}

.addusract {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0rem 2rem;
}

.addusrnoact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0rem 2rem;
}

.expusredit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0rem 2rem;
}

.greencheck {
    padding-left: .25rem;
    padding-right: .25rem;
    margin-left: .5rem;
    margin-right: .5rem;
    color: green;
}

.redcheck {
    padding-left: .25rem;
    padding-right: .25rem;
    margin-left: .5rem;
    margin-right: .5rem;
    color: red;
}

.nocheck {
    padding-left: .25rem;
    padding-right: .25rem;
    margin-left: .5rem;
    margin-right: .5rem;
}

.rebcont {
    margin-top: 1rem;
    margin-bottom: 1rem;
}